{% extends "base.html" %}
{% block title %}Administrar Reportes{% endblock %}
{% block body %}
    <script language="javascript" type="text/javascript" src="{{ url_for('static', filename='js/datetimepicker.js') }}">
        //Date Time Picker script- by TengYong Ng of http://www.rainforestnet.com
        //Script featured on JavaScript Kit (http://www.javascriptkit.com)
        //For this script, visit http://www.javascriptkit.com 
    </script>
    <h2>Administrar Reportes</h2>
    {% if error %}<div class=error><strong>Error: </strong>{{ error }}</div>{% endif %}
    <form name="formulario" action="" method=post>
        <table>
            <tr>
                <td>(*) Fecha:</td>
                <td><input type=text name=fecha_rep id=fecha_rep size=15 maxlength=10 value="{{ fecha_rep }}"></td>
                <td><a href="javascript:NewCal('fecha_rep','DDMMYYYY',false,24)"><img src="{{ url_for('static', filename='images/cal.gif') }}" width="16" height="16" border="0" alt="Seleccione una fecha"></a></td>
            </tr>
        </table>
        <table>
            <tr>
                <td>(*) Tipo de control:</td>
                <td>
                    <select name="select_tipocontrol">
                      {% for item in lista_tipocontrol %}
                        <option  value="{{ item.id }}" {% if item.id ==  tipo_control %}selected{% endif %}>{{ item.nombre }}</option>
                      {% endfor %}
                    </select>
                </td>
            </tr>
            <tr>
                <td>(*) Barrio:</td>
                <td>
                    <select name="select_barrio">
                      {% for item in lista_barrio %}
                        <option  value="{{ item.id }}" {% if item.id ==  barrio %}selected{% endif %}>{{ item.nombre }}</option>
                      {% endfor %}
                    </select>
                </td>
            </tr>
        </table>
        <table>
            <tr>
                <td>(*) Datos requeridos</td>
            </tr>
        </table>
        <table>
            <tr>
                <td><input type=submit name="action" value="Generar"></td>
                <td><button type=submit name="action" value="Salir">Cancelar</button></td>
            </tr>
        </table>
    </form>
{% endblock %}
