{% extends "base.html" %}
{% block title %}Ingresar{% endblock %}
{% block body %}
  <h2>Ingresar</h2>
  {% if error %}<div class=error><strong>Error: </strong>{{ error }}</div>{% endif %}
  <form action="" method=post>
    <dl>
      <dt>Usuario:
      <dd><input type=text name=username size=30 value="{{ request.form.username }}">
      <dt>Contrase&ntilde;a:
      <dd><input type=password name=password size=30 value="{{ password }}">
    </dl>
    <div class=actions><input type=submit value="Ingresar"></div>
  </form>
{% endblock %}
