{% extends "base.html" %}
{% block title %}Men&uacute; Principal{% endblock %}
{% block body %}
  {% if error %}<div class=error><strong>Error: </strong>{{ error }}</div>{% endif %}
    Bienvenido al Sistema
    <br/>
    <div><a href="{{ url_for('usuarios.administrar_usuarios') }}">Administrar Usuarios</a></div>
    <div><a href="{{ url_for('roles.administrar_roles') }}">Administrar Roles</a></div>
    <div><a href="{{ url_for('usuarios.modificar_contrasena') }}">Modificar Contrase&ntilde;a</a></div>
    <div><a href="{{ url_for('tbls1.administrar_planillas') }}">Administrar Planillas</a></div>
    <div><a href="{{ url_for('tbls1.administrar_departamentos') }}">Administrar Localidades</a></div>
    <div><a href="{{ url_for('tbls1.administrar_tipo_control') }}">Administrar Tipo Control</a></div>
    <div><a href="{{ url_for('tbls1.administrar_tipo_predio') }}">Administrar Tipo Predio</a></div>
    <div><a href="{{ url_for('mapa.puntos_visitados') }}">Puntos Visitados</a></div>
    <div><a href="{{ url_for('reporte.reporte_s3') }}">Reporte S3</a></div>
{% endblock %}
