{% extends "base.html" %}
{% block title %}Crear Usuarios{% endblock %}
{% block body %}
    <script language="javascript" type="text/javascript" src="{{ url_for('static', filename='js/datetimepicker.js') }}">
        //Date Time Picker script- by TengYong Ng of http://www.rainforestnet.com
        //Script featured on JavaScript Kit (http://www.javascriptkit.com)
        //For this script, visit http://www.javascriptkit.com 
    </script>
    <h2>Crear Usuarios</h2>
    {% if error %}<div class=error><strong>Error: </strong>{{ error }}</div>{% endif %}
    <form name="formulario" action="" method=post>
        <table>
            <tr>
                <td>(*) Usuario:</td>
                <td><input type=text name=usuario size=15 maxlength=15 value="{{ usuario }}"></td>
            </tr>
            <tr>
                <td>(*) Contrase&ntilde;a:</td>
                <td><input type=password name=contrasena size=30 maxlength=30 value="{{ contrasena }}"></td>
            </tr>
            <tr>
                <td>(*) Verificar Contrase&ntilde;a:</td>
                <td><input type=password name=contrasena2 size=30 maxlength=30 value="{{ contrasena2 }}"></td>
            </tr>
            <tr>
                <td>(*) Nombre:</td>
                <td><input type=text name=nombre size=30 maxlength=30 value="{{ nombre }}"></td>
            </tr>
            <tr>
                <td>(*) Apellido:</td>
                <td><input type=text name=apellido size=30 maxlength=30 value="{{ apellido }}"></td>
            </tr>
            <tr>
                <td>(*) Fecha de Nacimiento:</td>
                <td><input type=text name=fecha_nac id=fecha_nac size=30 maxlength=10 value="{{ fecha_nac }}"></td>
                <td><a href="javascript:NewCal('fecha_nac','DDMMYYYY',false,24)"><img src="{{ url_for('static', filename='images/cal.gif') }}" width="16" height="16" border="0" alt="Seleccione una fecha"></a></td>
            </tr>
        </table>
        <table>
            <tr>
                <td>(*) Datos requeridos</td>
            </tr>
        </table>
        <table>
            <tr>
                <td><input type=submit name="action" value="Guardar"></td>
                <td><input type=submit name="action" value="Guardar y Continuar"></td>
                <td><button type=submit name="action" value="Salir" onclick="return confirm('Los datos no ser&aacute;n almacenados');">Cancelar</button></td>
            </tr>
        </table>
    </form>
{% endblock %}
