{% extends "base.html" %}
{% block title %}Modificar Contrase&ntilde;a{% endblock %}
{% block body %}
    <h2>Modificar Contrase&ntilde;a</h2>
    {% if error %}<div class=error><strong>Error: </strong>{{ error }}</div>{% endif %}
    <form action="" method=post>
        <table>
            <tr>
                <td>(*) Contrase&ntilde;a Anterior:</td>
                <td><input type=password name=passanterior size=30 value="{{ passanterior }}"></td>
            </tr>
            <tr>
                <td>(*) Contrase&ntilde;a Nueva:</td>
                <td><input type=password name=passnueva size=30 value="{{ passnueva }}"></td>
            </tr>
            <tr>
                <td>(*) Repetir Contrase&ntilde;a Nueva:</td>
                <td><input type=password name=passnueva2 size=30 value="{{ passnueva2 }}"></td>
            </tr>
        </table>
        <table>
            <tr>
                <td>(*) Datos requeridos</td>
            </tr>
        </table>
        <table>
            <tr>
                <td><input type=submit name="action" value="Guardar"></td>
                <td><button type=submit name="action" value="Salir" onclick="return confirm('Los datos no ser&aacute;n almacenados');">Cancelar</button></td>
            </tr>
        </table>
</form>
{% endblock %}
