{% extends "base.html" %}
{% block title %}Modificar Usuarios{% endblock %}
{% block body %}
    <h2>Modificar Usuarios</h2>
    {% if error %}<div class=error><strong>Error: </strong>{{ error }}</div>{% endif %}
    <form action="" method=post>
        <table>
            <tr>
                <td>(*) Nombre:</td>
                <td><input type=text name=nombre size=30 maxlength=30 value="{{ nombre }}"></td>
            </tr>
            <tr>
                <td>(*) Apellido:</td>
                <td><input type=text name=apellido size=30 maxlength=30 value="{{ apellido }}"></td>
            </tr>
            <tr>
                <td>(*) Fecha de Nacimiento:</td>
                <td><input type=text name=fecha_nac id=fecha_nac size=30 maxlength=10 value="{{ fecha_nac }}"></td>
                <td><a href="javascript:NewCal('fecha_nac','DDMMYYYY',false,24)"><img src="{{ url_for('static', filename='images/cal.gif') }}" width="16" height="16" border="0" alt="Seleccione una fecha"></a></td>
            </tr>
        </table>
        <table>
            <tr>
                <td>(*) Datos requeridos</td>
            </tr>
        </table>
        <table>
            <tr>
                <td><button type=submit name="action" value="Reestablecer">Reestablecer Contrase&ntilde;a</button></td>
                <td><input type=submit name="action" value="Guardar"></td>
                <td><button type=submit name="action" value="Salir" onclick="return confirm('Los datos no ser&aacute;n almacenados');">Cancelar</button></td>
            </tr>
        </table>
</form>
{% endblock %}
