{% extends "base.html" %}
{% block title %}Administrar Distritos{% endblock %}
{% block body %}
  <h2>Administrar Distritos</h2>
  {% if error %}<div class=error><strong>Error: </strong>{{ error }}</div>{% endif %}
  <form action="" method=post>
      <table>
          <TR>
              <TD><input type=text name=cadena size=30 value="{{ cadena }}"></TD>
              <TD><input type=submit name="action" value=Buscar></TD>
              <TD><input type=submit name="action" value=Limpiar></TD>
          </TR>
      </table>
      <br>
      <table>
          <TR>
              <TD><input type=submit name="action" value=Crear></TD>
              <TD><input type=submit name="action" value=Modificar></TD>
              <TD><input type=submit name="action" value=Eliminar onclick="return confirm('¿Est&aacute; seguro?');"></TD>
              <TD><button type=submit name="action" value=Salir>Regresar</button></TD>
          </TR>
      </table>
      <br>
      <table>
          <TR>
              <th>Seleccionar</th>
              <th>Nombre</th>
              <th>Administrar Barrios</th>
          </TR>
          {% for item in items %}
          <TR>
            <td><input type=checkbox name=seleccionados value="{{ item.id }}"></td>
            <TD class="c1">{{item.nombre}}</TD>
            <TD><a href="{{ url_for('tbls1.administrar_barrios', distrito=item.id) }}">Administrar Barrios</a></TD>
          </TR>
          {% endfor %}
      </table>
      <table>
          <tr>
              {% if pg_prim > 0 %}<td><a href="{{ url_for('tbls1.administrar_distritos', departamento=dpto, pagina=pg_prim) }}">Primera</a></td>{% endif %}
              {% if pg_ante > 0 %}<td><a href="{{ url_for('tbls1.administrar_distritos', departamento=dpto, pagina=pg_ante) }}">Anterior</a></td>{% endif %}
              {% if pg_sgte > 0 %}<td><a href="{{ url_for('tbls1.administrar_distritos', departamento=dpto, pagina=pg_sgte) }}">Siguiente</a></td>{% endif %}
              {% if pg_ultm > 0 %}<td><a href="{{ url_for('tbls1.administrar_distritos', departamento=dpto, pagina=pg_ultm) }}">Ultima</a></td>{% endif %}
          </tr>
      </table>
    </form>
{% endblock %}
