{% extends "base.html" %}
{% block title %}Administrar Planillas{% endblock %}
{% block body %}
  <h2>Administrar Planillas</h2>
  {% if error %}<div class=error><strong>Error: </strong>{{ error }}</div>{% endif %}
  <form action="" method=post>
      <table>
          <TR>
              <TD><input type=text name=cadena size=30 value="{{ cadena }}"></TD>
              <TD><select name="campos">
                  <option {% if set_etc == "todos" %} selected="selected" {% endif %} value="todos">Todos</option>
                  <option {% if set_etc == "departamento" %} selected="selected" {% endif %} value="departamento">Departamento</option>
                  <option {% if set_etc == "distrito" %} selected="selected" {% endif %} value="distrito">Distrito</option>
                  <option {% if set_etc == "barrio" %} selected="selected" {% endif %} value="barrio">Barrio</option>
                  <option {% if set_etc == "usuario" %} selected="selected" {% endif %} value="usuario">Usuario</option>
                  <option {% if set_etc == "fecha" %} selected="selected" {% endif %} value="fecha">Fecha</option>
              </select></TD>
              <TD><input type=submit name="action" value=Buscar></TD>
              <TD><input type=submit name="action" value=Limpiar></TD>
          </TR>
      </table>
      <br>
      <table>
          <TR>
              <TD><button type=submit name="action" value=Detalles>Ver Detalles</button></TD>
              <TD><input type=submit name="action" value=Eliminar onclick="return confirm('¿Est&aacute; seguro?');"></TD>
              <TD><button type=submit name="action" value=Salir>Regresar</button></TD>
          </TR>
      </table>
      <br>
      <table>
          <TR>
              <th>Seleccionar</th>
              <th>Departamento</th>
              <th>Distrito</th>
              <th>Barrio</th>
              <th>Usuario</th>
              <th>Fecha</th>
              <th>Administrar Registros</th>
          </TR>
          {% for item in items %}
          <TR>
            <td><input type=checkbox name=seleccionados value="{{ item.id }}"></td>
            <TD class="c1">{{item.departamento}}</TD>
            <TD class="c2">{{item.distrito}}</TD>
            <TD class="c3">{{item.barrio}}</TD>
            <TD class="c4">{{item.usuario}}</TD>
            <TD class="c5">{{item.fecha}}</TD>
            <TD><a href="{{ url_for('tbls1.administrar_registros', planilla=item.id) }}">Administrar Registros</a></TD>
          </TR>
          {% endfor %}
      </table>
      <table>
          <tr>
              {% if pg_prim > 0 %}<td><a href="{{ url_for('tbls1.administrar_planillas', pagina=pg_prim) }}">Primera</a></td>{% endif %}
              {% if pg_ante > 0 %}<td><a href="{{ url_for('tbls1.administrar_planillas', pagina=pg_ante) }}">Anterior</a></td>{% endif %}
              {% if pg_sgte > 0 %}<td><a href="{{ url_for('tbls1.administrar_planillas', pagina=pg_sgte) }}">Siguiente</a></td>{% endif %}
              {% if pg_ultm > 0 %}<td><a href="{{ url_for('tbls1.administrar_planillas', pagina=pg_ultm) }}">Ultima</a></td>{% endif %}
          </tr>
      </table>
    </form>
{% endblock %}
