{% extends "base.html" %}
{% block title %}Administrar Barrios{% endblock %}
{% block body %}
  <h2>Administrar Barrios</h2>
  {% if error %}<div class=error><strong>Error: </strong>{{ error }}</div>{% endif %}
  <form action="" method=post>
      <table>
          <TR>
              <TD><input type=text name=cadena size=30 value="{{ cadena }}"></TD>
              <TD><select name="campos">
                  <option {% if set_etc == "todos" %} selected="selected" {% endif %} value="todos">Todos</option>
                  <option {% if set_etc == "codigo" %} selected="selected" {% endif %} value="codigo">C&oacute;digo</option>
                  <option {% if set_etc == "nombre" %} selected="selected" {% endif %} value="nombre">Nombre</option>
              </select></TD>
              <TD><input type=submit name="action" value=Buscar></TD>
              <TD><input type=submit name="action" value=Limpiar></TD>
          </TR>
      </table>
      <br>
      <table>
          <TR>
              <TD><input type=submit name="action" value=Crear></TD>
              <TD><input type=submit name="action" value=Modificar></TD>
              <TD><input type=submit name="action" value=Eliminar onclick="return confirm('¿Est&aacute; seguro?');"></TD>
              <TD><button type=submit name="action" value=Salir>Regresar</button></TD>
          </TR>
      </table>
      <br>
      <table>
          <TR>
              <th>Seleccionar</th>
              <th>C&oacute;digo</th>
              <th>Nombre</th>
          </TR>
          {% for item in items %}
          <TR>
            <td><input type=checkbox name=seleccionados value="{{ item.id }}"></td>
            <TD class="c1">{{item.codigo}}</TD>
            <TD class="c2">{{item.nombre}}</TD>
          </TR>
          {% endfor %}
      </table>
      <table>
          <tr>
              {% if pg_prim > 0 %}<td><a href="{{ url_for('tbls1.administrar_barrios', distrito=dist, pagina=pg_prim) }}">Primera</a></td>{% endif %}
              {% if pg_ante > 0 %}<td><a href="{{ url_for('tbls1.administrar_barrios', distrito=dist, pagina=pg_ante) }}">Anterior</a></td>{% endif %}
              {% if pg_sgte > 0 %}<td><a href="{{ url_for('tbls1.administrar_barrios', distrito=dist, pagina=pg_sgte) }}">Siguiente</a></td>{% endif %}
              {% if pg_ultm > 0 %}<td><a href="{{ url_for('tbls1.administrar_barrios', distrito=dist, pagina=pg_ultm) }}">Ultima</a></td>{% endif %}
          </tr>
      </table>
    </form>
{% endblock %}
