{% extends "base.html" %}
{% block title %}Administrar Registros{% endblock %}
{% block body %}
  <h2>Administrar Registros</h2>
  {% if error %}<div class=error><strong>Error: </strong>{{ error }}</div>{% endif %}
  <form action="" method=post>
      <table>
          <TR>
              <TD><input type=text name=cadena size=30 value="{{ cadena }}"></TD>
              <TD><select name="campos">
                  <option {% if set_etc == "todos" %} selected="selected" {% endif %} value="todos">Todos</option>
                  <option {% if set_etc == "manzana" %} selected="selected" {% endif %} value="manzana">Manzana</option>
                  <option {% if set_etc == "direccion" %} selected="selected" {% endif %} value="direccion">Direcci&oacute;n</option>
                  <option {% if set_etc == "latitud" %} selected="selected" {% endif %} value="latitud">Latitud</option>
                  <option {% if set_etc == "longitud" %} selected="selected" {% endif %} value="longitud">Longitud</option>
              </select></TD>
              <TD><input type=submit name="action" value=Buscar></TD>
              <TD><input type=submit name="action" value=Limpiar></TD>
          </TR>
      </table>
      <br>
      <table>
          <TR>
              <TD><button type=submit name="action" value=Detalles>Ver Detalles</button></TD>
              <TD><input type=submit name="action" value=Eliminar onclick="return confirm('¿Est&aacute; seguro?');"></TD>
              <TD><button type=submit name="action" value=Salir>Regresar</button></TD>
          </TR>
      </table>
      <br>
      <table>
          <TR>
              <th>Seleccionar</th>
              <th>Manzana</th>
              <th>Direcci&oacute;n</th>
              <th>Latitud</th>
              <th>Longitud</th>
          </TR>
          {% for item in items %}
          <TR>
            <td><input type=checkbox name=seleccionados value="{{ item.id }}"></td>
            <TD class="c1">{{item.manzana}}</TD>
            <TD class="c2">{{item.direccion}}</TD>
            <TD class="c3">{{item.latitud}}</TD>
            <TD class="c4">{{item.longitud}}</TD>
          </TR>
          {% endfor %}
      </table>
    </form>
{% endblock %}
