{% extends "base.html" %}
{% block title %}Crear Tipo Predio{% endblock %}
{% block body %}
    <h2>Crear Tipo Predio</h2>
    {% if error %}<div class=error><strong>Error: </strong>{{ error }}</div>{% endif %}
    <form name="formulario" action="" method=post>
        <table>
            <tr>
                <td>(*) Nombre:</td>
                <td><input type=text name=nombre size=20 maxlength=20 value="{{ nombre }}"></td>
            </tr>
        </table>
        <table>
            <tr>
                <td>(*) Datos requeridos</td>
            </tr>
        </table>
        <table>
            <tr>
                <td><input type=submit name="action" value="Guardar"></td>
                <td><input type=submit name="action" value="Guardar y Continuar"></td>
                <td><button type=submit name="action" value="Salir" onclick="return confirm('Los datos no ser&aacute;n almacenados');">Cancelar</button></td>
            </tr>
        </table>
    </form>
{% endblock %}
