{% extends "base.html" %}
{% block title %}Detalles Registros{% endblock %}
{% block body %}
    <h2>Detalles Registros</h2>
    {% if error %}<div class=error><strong>Error: </strong>{{ error }}</div>{% endif %}
    <form action="" method=post>
        <table>
            <tr>
                <td>Manzana:</td>
                <td><input type=text name=nombre size=20 value="{{ manzana }}" disabled></td>
            </tr>
            <tr>
                <td>Direcci&oacute;n:</td>
                <td><input type=text name=nombre size=20 value="{{ direccion }}" disabled></td>
            </tr>
            <tr>
                <td>Latitud:</td>
                <td><input type=text name=nombre size=20 value="{{ latitud }}" disabled></td>
            </tr>
            <tr>
                <td>Longitud:</td>
                <td><input type=text name=nombre size=20 value="{{ longitud }}" disabled></td>
            </tr>
        </table>
        <br>
        <table>
            <tr>
                <th>A1</th>
                <th>A2</th>
                <th>A3</th>
                <th>A4</th>
                <th>A5</th>
                <th>A6</th>
                <th>A7</th>
                <th>A8</th>
                <th>A9</th>
                <th>A10</th>
            </tr>
            {% for item in criaderosA %}
            <tr>
              <td class="c1">{{item.criaderos_a1}}</td>
              <td class="c2">{{item.criaderos_a2}}</td>
              <td class="c3">{{item.criaderos_a3}}</td>
              <td class="c4">{{item.criaderos_a4}}</td>
              <td class="c5">{{item.criaderos_a5}}</td>
              <td class="c6">{{item.criaderos_a6}}</td>
              <td class="c7">{{item.criaderos_a7}}</td>
              <td class="c8">{{item.criaderos_a8}}</td>
              <td class="c9">{{item.criaderos_a9}}</td>
              <td class="c10">{{item.criaderos_a10}}</td>
            </tr>
            {% endfor %}
        </table>
        <br>
        <table>
            <tr>
                <th>B1</th>
                <th>B2</th>
                <th>B3</th>
                <th>B4</th>
                <th>B5</th>
                <th>B6</th>
            </tr>
            {% for item in criaderosB %}
            <tr>
              <td class="c1">{{item.criaderos_b1}}</td>
              <td class="c2">{{item.criaderos_b2}}</td>
              <td class="c3">{{item.criaderos_b3}}</td>
              <td class="c4">{{item.criaderos_b4}}</td>
              <td class="c5">{{item.criaderos_b5}}</td>
              <td class="c6">{{item.criaderos_b6}}</td>
            </tr>
            {% endfor %}
        </table>
        <br>
        <table>
            <tr>
                <th>C1</th>
                <th>C2</th>
                <th>C3</th>
                <th>C4</th>
            </tr>
            {% for item in criaderosC %}
            <tr>
              <td class="c1">{{item.criaderos_c1}}</td>
              <td class="c2">{{item.criaderos_c2}}</td>
              <td class="c3">{{item.criaderos_c3}}</td>
              <td class="c4">{{item.criaderos_c4}}</td>
            </tr>
            {% endfor %}
        </table>
        <table>
            <tr>
                <TD><button type=submit name="action" value=Salir>Regresar</button></TD>
            </tr>
        </table>
</form>
{% endblock %}
