{% extends "base.html" %}
{% block title %}Detalles Planillas{% endblock %}
{% block body %}
    <h2>Detalles Planillas</h2>
    {% if error %}<div class=error><strong>Error: </strong>{{ error }}</div>{% endif %}
    <form action="" method=post>
        <table>
            <tr>
                <td>Departamento:</td>
                <td><input type=text name=nombre size=20 value="{{ departamento }}" disabled></td>
            </tr>
            <tr>
                <td>Distrito:</td>
                <td><input type=text name=nombre size=20 value="{{ distrito }}" disabled></td>
            </tr>
            <tr>
                <td>Barrio:</td>
                <td><input type=text name=nombre size=20 value="{{ barrio }}" disabled></td>
            </tr>
            <tr>
                <td>Usuario:</td>
                <td><input type=text name=nombre size=20 value="{{ usuario }}" disabled></td>
            </tr>
            <tr>
                <td>Fecha:</td>
                <td><input type=text name=nombre size=20 value="{{ fecha }}" disabled></td>
            </tr>
        </table>
        <table>
            <tr>
                <TD><button type=submit name="action" value=Salir>Regresar</button></TD>
            </tr>
        </table>
</form>
{% endblock %}
