{% extends "base.html" %}
{% block title %}Modificar Roles{% endblock %}
{% block body %}
    <h2>Modificar Roles</h2>
    {% if error %}<div class=error><strong>Error: </strong>{{ error }}</div>{% endif %}
    <form action="" method=post>
        <table>
            <tr>
                <td>(*) Nombre:</td>
                <td><input type=text name=nombre size=15 maxlength=15 value="{{ nombre }}"></td>
            </tr>
            <tr>
                <td>(*) Descripci&oacute;n:</td>
                <td><input type=text name=descripcion size=30 maxlength=30 value="{{ descripcion }}"></td>
            </tr>
        </table>
        <table>
            <tr>
                <td>(*) Datos requeridos</td>
            </tr>
        </table>
        <table>
            <tr>
                <td><input type=submit name="action" value="Guardar"></td>
                <td><button type=submit name="action" value="Salir" onclick="return confirm('Los datos no ser&aacute;n almacenados');">Cancelar</button></td>
            </tr>
        </table>
</form>
{% endblock %}
