{% extends "base.html" %}
{% block title %}Puntos Visitados{% endblock %}
{% block body %}
    <script src="{{ url_for('static', filename='js/OpenLayers-2.13.1/OpenLayers.js') }}"></script>
    <script src="{{ url_for('static', filename='js/script_puntos_visitados.js') }}"></script>
    <script language="javascript" type="text/javascript" src="{{ url_for('static', filename='js/datetimepicker.js') }}">
        //Date Time Picker script- by TengYong Ng of http://www.rainforestnet.com
        //Script featured on JavaScript Kit (http://www.javascriptkit.com)
        //For this script, visit http://www.javascriptkit.com 
    </script>
    <style>
        .map {
            height: 400px;
            width: 100%;
        }
    </style>
    <h2>Puntos Visitados</h2>
    {% if error %}<div class=error><strong>Error: </strong>{{ error }}</div>{% endif %}
    <form action="" method=post>
      <table>
        <TR>
          <TD><button type=submit name="action" value=Salir>Regresar</button></TD>
        </TR>
      </table>
      <table>
        <tr>
          <td>Fecha desde:</td>
          <td><input type=text name=fecha_desde id=fecha_desde size=15 maxlength=10 value="{{ fecha_desde }}"></td>
          <td><a href="javascript:NewCal('fecha_desde','DDMMYYYY',false,24)"><img src="{{ url_for('static', filename='images/cal.gif') }}" width="16" height="16" border="0" alt="Seleccione una fecha"></a></td>
          <td style="padding-left: 30px">Fecha hasta:</td>
          <td><input type=text name=fecha_hasta id=fecha_hasta size=15 maxlength=10 value="{{ fecha_hasta }}"></td>
          <td><a href="javascript:NewCal('fecha_hasta','DDMMYYYY',false,24)"><img src="{{ url_for('static', filename='images/cal.gif') }}" width="16" height="16" border="0" alt="Seleccione una fecha"></a></td>
          <td style="padding-left: 30px"><button type=submit name="action" value=VerMapa>Ver Mapa</button></td>
        </tr>
      </table>
    </form>
    <div id="map" class="map">
      <script type="text/javascript">
        init();
      </script>
    </div>
{% endblock %}
