{% extends "base.html" %}
{% block title %}La p&aacute;gina no existe{% endblock %}
{% block body %}
  {% if error %}<div class=error><strong>Error:</strong> {{ error }}</div>{% endif %}
    <h3 align="center">La p&aacute;gina no existe</h3>
    <br/>
    <div align="center"><input type=submit name="action" value=Regresar onclick="history.back();"></div>
{% endblock %}
