<!doctype html>
<title>{% block title %}Bienvenido{% endblock %} | Consola de Administraci&oacute;n</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}">
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
<div class=page>
  <h1>Consola de Administraci&oacute;n</h1>
  <div class=navigation>
  {% if id_usuario %}
    <a href="{{ url_for('auth.logout') }}">Salir [{{ id_usuario }}]</a>
  {% else %}
    <a href="{{ url_for('auth.login') }}">Ingresar</a>
  {% endif %}
  </div>
  {% with flashes = get_flashed_messages() %}
    {% if flashes %}
      <ul class=flashes>
      {% for message in flashes %}
        <li>{{ message }}
      {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}
  <div class=body>
  {% block body %}{% endblock %}
  </div>
  <div class=footer>
    Una Aplicaci&oacute;n Flask
  </div>
</div>
