{% extends "base.html" %}
{% block title %}No Autorizado{% endblock %}
{% block body %}
  {% if error %}<div class=error><strong>Error:</strong> {{ error }}</div>{% endif %}
    <h3 align="center">No cuenta con los permisos requeridos para realizar la acci&oacute;n</h3>
    <br/>
    <div align="center"><input type=submit name="action" value=Regresar onclick="history.back();"></div>
{% endblock %}
